
//          Plus & Minus
.wrapper-button {
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;

    &:hover {
        .icon {
            fill:var(--orange);
            transition: all .3s ease;
            stroke-width: 4px;
        }
        .circle {
            background-color: #fff;
            transition: all .3s ease;
        }
    }

    .icon {
        position: relative;
        width: 25px;
        height: 25px;
        z-index: 3;
        transition: all .3s ease;
       
    }
    
    .circle {
        transition: all .3s ease;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background: var(--button);
        border-radius: 50%;
        z-index: 2;
        
    }
    
}




//        View All
.button-arrow {
    display: flex;
    align-items: center;
    .arrow {
      fill:var(--orange);
      transition: all .5s ease;
    }
    a {
      margin-right: 15px;
      color: var(--orange);
      transition: all .5s ease;
    }
    
    &:hover {
      a {
        color: #000;
        transition: all .5s ease;
      }
      .arrow {
        fill:#000;
        transition: all .5s ease;
        transform: translateX(15px);
      }
      
    }
  
  }
  