.product {
  color: black;
  display: flex;
}
.galarry {
  flex: 60%;
  .imageCurrent {
    display: flex;
    column-gap: 10px;
    .images {
      width: calc(33.333%);
      aspect-ratio: 1 / 1;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 6px;
      cursor: pointer;
      max-width: 353.5px;
    }
  }
}

.infoProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 40%;
  padding: 10px;
  & > div {
    margin-bottom: 30px;
  }
  .title {
    text-align: center;
    max-width: 400px;
    h3 {
      line-height: 22px;
    }
  }

  .price {
    font-size: 18px;
    font-weight: 700;
    span {
      font-size: 12px;
      text-decoration: line-through;
      font-weight: 500;
    }
  }
  .sizes {
    display: flex;
    column-gap: 25px;
    .size {
      padding: 4px 8px;
      border-radius: 8px;
      border: 1px solid #000;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: var(--orange);
        color: #fff;
        border: var(--orange);
      }
    }
  }
  .description {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
  .buttons {
    display: flex;
    column-gap: 40px;
    .generalStyle {
      color: #000;
      border: 1px solid #000;
      border-radius: 5px;
      padding: 7px 15px;
      text-transform: uppercase;
      &:hover {
        background-color: #000;
        color: #fff;
      }
      svg {
        position: absolute;
        top: 8px;
        right: 4px;
      }
    }
    .addToCart:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
    
    .favorite {
      position: relative;
      padding-right: 25px;
      
    }
  }
}

.activeSize {
  background-color: var(--orange);
  color: #fff;
  border: var(--orange) !important;
}

